 <mat-card class="card" [style]="width">
   <div class="header">
     <mat-card-header>
       <div mat-card-avatar class="avatar" matRipple
         style=" background-image: url('{{message.photoURL}}'); background-size: cover;">
       </div>
       <mat-card-title>{{message.displayName}}</mat-card-title>
       <mat-card-subtitle>{{message.dateTime | date:'dd/MM/yyyy HH:mm'}}</mat-card-subtitle>
     </mat-card-header>

     <mat-icon *ngIf="message.uid ==  currentUid" [matMenuTriggerFor]="menu" matRipple
       class="material-symbols-outlined">more_vert</mat-icon>
     <mat-menu #menu="matMenu">
       <button mat-menu-item (click)="delete(message.id)">deletar</button>
     </mat-menu>
   </div>
   <div matRipple [matRippleCentered]="true" style="margin:0px ; padding:0px">
     <img mat-card-image [src]="message.imageURL" alt="" (click)="doubleClick(message.id)">
   </div>
   <mat-divider></mat-divider>
   <mat-card-content *ngIf="message.postText">
     <p>
       {{message.postText}}
     </p>
   </mat-card-content>
   <mat-card-actions>
     <div> <button mat-icon-button color="warn">
         <mat-icon [class]=" totalFavByUser == 0 ? iconClass : ''" (click)="favorite(message.id)">favorite</mat-icon>
         <sup [style]="totalFav>0 ? 'opacity:1' :  'opacity:0'">{{totalFav}}</sup>
       </button>
       <button mat-button>
         <mat-icon [routerLink]="'/comments/' + message.id" class="material-symbols-outlined">chat_bubble</mat-icon>
       </button>
     </div>
   </mat-card-actions>
 </mat-card>
