.card {
  width: 100%;
  min-width: 350px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}

mat-card-title {
  font-size: 17px !important;
}
mat-card-subtitle {
  color: rgb(111, 111, 111);
  font-size: 12px !important;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

::ng-deep .mat-menu-content {
  background-color: #2d2d2d !important;
  color: wheat !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep .mat-menu-content > button {
  margin: 0px !important;
}

::ng-deep .mat-menu-item {
  color: wheat !important;
}

::ng-deep .mat-menu-panel {
  background-color: #2d2d2d !important;
  // height: 20px !important;
  min-width: auto !important;
  // height: 20px !important;
  // min-height: 51px !important;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

sup {
  color: rgba(220, 220, 220, 0.656);
  margin: 3px;
}
mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(109, 109, 109)!important;
}


mat-card-actions {
  display: flex;
  justify-content: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
}
.buttons-actions {
  display: flex;
  justify-content:center;
}

.buttons-actions > button {
  margin-right: 3px;
  margin-left: 3px;
}
button{
  border-color: rgba(220, 220, 220, 0.243)!important;
}
::ng-deep .mat-form-field-infix {
  padding-top: 2px!important;
}

:ng-deep .mat-form-field-wrapper {
  padding-bottom: 10px;
}


::ng-deep .snackBar {
  color: whitesmoke;
}
