.card {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}

mat-card-title {
font-size: 17px!important;
}
mat-card-subtitle {
  color: rgb(111, 111, 111);
  font-size: 12px!important;

}
