<nav class="navbar fixed-top navbar-dark bg-dark">
   <div class="title">
    <mat-icon [routerLink]="'/timeline'" *ngIf="isNotTimeline" color="accent">chevron_left</mat-icon>
     <img src="assets/images/compartilhagram-logo-yellow.svg" [routerLink]="'/timeline'" width="60%"
      title="Compartilhagram" alt="Compartilhagram logo">
  </div>
  <div class="actions">
    <button mat-mini-fab class="button-icon" (click)="chooseImage()" aria-label=" ">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button mat-mini-fab class="button-icon" [routerLink]="'/profile/' + service.auth.user?.uid" aria-label=" ">
      <mat-icon>account_circle</mat-icon>
    </button>

  </div>
</nav>

<input type="file" style="display: none;" (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg"
  #file />
