<section class="component">
  <img [src]="comment?.photoURL" alt="" [routerLink]="'/profile/' +comment?.uid">
  <div>
    <h4 [routerLink]="'/profile/' +comment?.uid">{{comment?.displayName}}</h4>
    <label>{{comment?.comment}}</label>
  </div>

  <mat-icon (click)="favorite()" [class]="totalFavByUser == 0 ? iconClass : ''">favorite</mat-icon><sup
    [style]="totalFav>0 ? 'opacity:1' :  'opacity:0'">{{totalFav}}</sup>

  <mat-icon [matMenuTriggerFor]="menu" matRipple class="material-symbols-outlined">more_vert</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="delete()">deletar</button>
  </mat-menu>
</section>
