.component-profile {
  // width: 100%;
  //margin-top: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22252A;;
}

.profile {
  // width: 600px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  max-width: 600px;
}

.component {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #16202A;
  color: whitesmoke;
  padding-bottom: 3px;
}

.avatar {
  width: 70px;
  border-radius: 35px;
}


.posts {
  width: 100%;
  background-color: #23252B;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}

.image {
  width: 110px;
  height: 110px;
  margin: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

h3 {
  margin-bottom: 5px;
}
