.snackBar {
  width: 350px;
  height: auto;
  background-image: url('/assets/images/on-the-line.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
}

img {
  width: 100%;
}
