<nav class="navbar fixed-bottom navbar-dark  ">
  <button mat-mini-fab class="button-icon" [routerLink]="'/timeline'" aria-label=" ">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-mini-fab class="button-icon"  (click)="chooseImage()" aria-label=" ">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-mini-fab class="button-icon" aria-label="Example icon button with a home icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</nav>
<input type="file" style="display: none;" (change)="fileChangeEvent($event)" accept="image/x-png,image/gif,image/jpeg"
  #file />
