.component {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
   align-items: center;
  // background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.component > section {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 auto;
  // background-color: rgb(49, 49, 49);
  color: whitesmoke;
}

app-messages {
  height: 100%;
}

body {
  background-color: rgb(49, 49, 49) !important;
  color: whitesmoke;
}
