/* You can add global styles to this file, and also import other style files */

html, body { width: 100%; min-height: 100%; margin: 0; padding: 0;    background-color: #22252A;}
body {height: 100%;  font-family: Roboto, "Helvetica Neue", sans-serif;  background-color: #22252A;  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
