.component {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: whitesmoke;
  overflow-x: auto;
  padding-bottom: 50px;
}

.component > section {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1 auto 1;
  color: whitesmoke;
}

.component > section > mat-card {
  margin-top: 50px;
}


.card {
  height: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}

mat-card-title {
  font-size: 15px !important;
  text-align: center!important;

}
mat-card-header {
  justify-content: center;
}
mat-card-subtitle {
  color: rgb(111, 111, 111);
  font-size: 12px !important;
}
mat-form-field {
  width: 100%;

}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(109, 109, 109)!important;
}

::ng-deep .mat-form-field-wrapper  {
  padding-bottom: 1px!important;
}


mat-card-actions {
  display: flex;
  justify-content: space-around;
}

button {
  width: 100%;
}
